<div class='comp-container'>
    <mat-list>
    @for (item of todos$ | async; track item.title) {
        <div class='flex-wrapper'>
        <mat-checkbox color='primary' [checked]='item.completed' (change)='toggleCompleted(item.id)'></mat-checkbox>
        <mat-list-item>
            <span matListItemTitle>
                {{ item.title | uppercase }}
            </span>
            <span matListItemLine [ngClass]='{"color-warn": isBeforeToday(item.deadline)}'>
                {{ item.deadline | date:'mediumDate' }}
            </span>
            </mat-list-item>
            <span class='flex-wrapper'>
            <button mat-icon-button color='primary' (click)='editTodo(item)' aria-label='Edit'>
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color='primary' (click)='deleteTodo(item.id)' aria-label='Delete'>
                <mat-icon>close</mat-icon>
            </button>
            </span>
        </div>
        @if (!$last) {
            <mat-divider [inset]='false'></mat-divider>
        }
    } @empty {
    <mat-list-item>There are no ToDos! Hooray!</mat-list-item>
    }
    </mat-list>
</div>